
.gradient-custom {
    width: 100vw;
    /* fallback for old browsers */
    background: #11cb58;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(214, 233, 214), rgb(58, 182, 5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(228, 236, 219), rgb(133, 238, 133))
}
