<footer class="bg-success text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">About Us</h5>
  
          <p>
            Đây là Assignment môn Angular dự án xây dựng ứng dụng quản lý dự án cho doanh nghiệp. 
            Ứng dụng giúp thực hiện quản lý dự án theo nhóm. Nhóm trưởng tạo dự án, thành viên trong nhóm tạo task và quản lý tiến độ task.
          </p>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Links</h5>
  
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Khóa học</a>
            </li>
            <li>
              <a href="#!" class="text-white">Sự kiện</a>
            </li>
            <li>
              <a href="#!" class="text-white">Trưng bày</a>
            </li>
            <li>
              <a href="#!" class="text-white">FAQs</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Support</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Các tài liệu</a>
            </li>
            <li>
              <a href="#!" class="text-white">Diễn đàn</a>
            </li>
            <li>
              <a href="#!" class="text-white">Ngôn ngữ</a>
            </li>
            <li>
              <a href="#!" class="text-white">Trạng thái phát hành</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2024 Copyright:
      <a class="text-white" href="#">Nguyễn Tấn Đạt</a>
    </div>
    <!-- Copyright -->
  </footer>