<nav id="thanhmenu" class="" style="height: 60px;">
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand text-white fw-bold" style="letter-spacing: -1px; word-spacing: -2px;" href="#" routerLink="/" title="Logo">Project <span class="text-success">Manager</span></a>
        <button class="navbar-toggler bg-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active text-white" href="#" routerLink="/">Trang chủ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-white" href="#" routerLink="/du_an">Danh sách dự án</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-white" href="#" routerLink="/nhan_vien">Danh sách nhân viên</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-white" href="#" routerLink="/task">Danh sách task</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="#" routerLink="/about">Giới thiệu</a>
            </li>
          </ul> 
          <a href="#" class="btn" style="color: rgb(255, 255, 255); font-weight: 500;" routerLink="dang_nhap">Đăng nhập</a>
          <a href="#" class="btn btn-success" style="color: rgb(255, 255, 255); font-weight: 500;" routerLink="dang_ky">Đăng ký</a>
          
        </div>
      </div>
    </nav>
  </nav>