<div id="home">
    <img class="background-home" src="../assets/img/background-home.jpg" alt="">
    <div id="box">
        <div class="box-left">
            <div class="content-home">
                <h2>
                    Project Manager brings all your tasks, teammates, and tools together
                </h2>
                <p>
                    Keep everything in the same place - even if your team <br> isn’t.
                </p>
            </div>
            <div class="form-home">
                <input type="email" name="emain" placeholder="Email">
                <a href="#" class="btn" routerLink="dang_ky">Đăng ký ngay</a>
            </div>
        </div>
        <div class="box-right">
            <img src="../assets/img/manager.png" alt="">
        </div>
    </div>
</div>